.resume-well {
  margin-top: 45px;
  margin-bottom: 55px;
}

.separator {
  width: 240px;
}

.header-link-row {
  font-size: xx-large;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

#resume {
  position: relative;
  background-color: white;
}

.resume-padding-18 {
  padding-left:18px;
  padding-right:18px;
}

.hideable {
  display: none;
}

.resume-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.resume-heading {
  margin-bottom: 25px;
  color:#DA4453;
  font-size: xx-large;
}

.resume-item-title h1 {
  font-size: xx-large;
}

.no-bullet-list {
   list-style-type: none;
}

.contact-footer {
  color: grey;
}

.navbar-brand {
  font-size: x-large;
  color: white;
}

#toggle-blob-row {
  display: none;
}

.blob-success {
  color: #5CB85C;
}

.blob-primary {
  color: #428BCA;
}

.blob-error {
  color: #D9534F;
}

.header-li {
  display: inline-block;
  margin-left:5px;
  margin-right: 5px;
}

.header-ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  body {
    font-weight: 300;
    font-size: medium;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  #resume-wide {
    background-color: white;
    z-index: 9;
    position: relative;
    padding-bottom:25px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  }

  #header {
    width:100%;
    position:fixed;
    z-index: 0;
    color: white;
    top: 10px;
  }

  #header-me {
    font-size: 64px;
  }

  #header-subtitle {
    font-size: 24px;
    margin-bottom:20px;
  }

  .blurry-back {
    height: 350px;
  }

  .pre-title-anchor {
    height: 100px;
  }

  #map-small {
    display: none;
  }

  #main404 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 150px;
    color: #444444;
    background-color: white;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  #mobile-label {
    display: none;
  }

  #desktop-label {
    display: inline;
  }

  .header-link {
    color: #F5F7FA;
  }

  .mobile-block {
    display: none;
  }

  .desktop-block {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  body {
    font-weight: 300;
    font-size: medium;
    background-color: white;
  }

  #header {
    width:100%;
    color: #555;
    margin-top: 30px;
  }

  #header-me {
    font-size: 64px;
  }

  #header-subtitle {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .blurry-back {
    display: none;
  }

  .pre-title-anchor {
    height: 75px;
  }

  #map-large {
    display: none;
  }

  #main404 {
    color: #444444;
  }

  #mobile-label {
    display: inline;
  }

  #desktop-label {
    display: none;
  }

  .header-link {
    color: #555;
  }

  .mobile-block {
    display: block;
  }

  .desktop-block {
    display: none;
  }
}

#heading404 {
  text-align:center;
  font-size: 144px;
}

.device-label {
  font-size: small;
  cursor: default;
}

