@import './fonts/inter.css';

html {
  font-family: 'Inter', sans-serif;
}

body {
  font-family: Inter;
  font-size: 14px;
  margin: 0;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: #1a73e8;
  font-weight: 500;
}

hr {
  border: none;
  border-top: 1px solid gainsboro;
}

.title1 {
  font-size: 1.5em;
  font-weight: 600;
}

.title2 {
  font-size: 1.25em;
  font-weight: 500;
}

.important {
  font-weight: 500;
}

.list-elem {
  margin-top: 5px;
  margin-left: 10px;

  &:before {
    content: '\2013';
  }
}

.section {
  padding-left: 50px;
  padding-right: 50px;
}
