html {
  background-color: white;
  font-size: 14px;
}

.resume-item {
  margin-top: 75px;
  margin-bottom: 75px;
}

.resume-title {
  text-align: center;
  margin-bottom: 48px;
}

.subtitle {
  line-height: 1.5;
}

.resume-name {
  text-transform: uppercase;
}

a {
  font-weight: bold;
}

.em {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.em.em-runner {
  background-image: url('./em-runner-20.png');
}

.em.em-flag-fr {
  background-image: url('./em-flag-fr-20.png');
}

.em.em-flag-gb {
  background-image: url('./em-flag-gb-20.png');
}

.em.em-flag-us {
  background-image: url('./em-flag-us-20.png');
}

.em.em-computer {
  background-image: url('./em-computer-20.png');
}

.em.em-guitar {
  background-image: url('./em-guitar-20.png');
}
