html {
  background-color: white;
}

.resume-item {
  min-height: 250px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.resume-title {
  margin-bottom: 20px;
}

.subtitle {
  line-height: 1.5;
}

a {
  font-weight: bold;
}
